<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <div class="row align-items-center">
            <div class="col col-lg-5" style="width:100%">
                <img src="~/img/logo.svg" />
            </div>
            <div class="col">
                <h1 class="display-3">Praetorian Protect</h1>
            </div>
        </div>
        <hr />
        <p>
            <i class="lead">
                E praetorianis data (cohortes Praetoriae) quod in promotione romanae reipublicae serva, et dux satellitum scriptor personali et in tempus imperatoria, cum electa manu custodiae et Romae imperatorem.
            </i>
        </p>
        <p>
            <small class="lead text-muted">The Praetorian Guard (cohortes praetoriae) was, in the Roman Republic, a commander's personal bodyguard and then, in the imperial period, an elite force assigned to protect the emperor and Rome.</small>
        </p>
    </div>
</div>